<form #form="ngForm">
    <div class="row">
        <div class="col-md-10 mb-3">
            <h2>Apertura de cuenta</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 mb-3 offset-md-2" style="text-align: end;">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="txtMontoMin" name="minimo" [(ngModel)]="valor_minimo">
                <label for="txtMontoMin">Mínimo</label>
            </div>
        </div>
        <div class="col-md-2 mb-3" style="text-align: end;">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="txtMontoMax" name="maximo" [(ngModel)]="valor_maximo">
                <label for="txtMontoMax">Máximo</label>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-4 mb-3 offset-md-2">
            <input type="range" class="form-range" #valor id="valor" [min]="valor_minimo" [max]="valor_maximo" name="saldo_disponible" [(ngModel)]="objCuentaApertura.saldo_disponible" (input)="yourMethod(valor.value)">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3 offset-md-2">
            <label for="valor">Monto de apertura: {{ valor.value }} soles</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3 offset-md-2">
            <label for="valor">Monto mínimo de utilidad: {{ +valor.value * (tasa_rango.tasa_minimo)| number : '1.2-2'  }} soles</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3 offset-md-2">
            <label for="valor">Monto máximo de utilidad: {{ (+valor.value * (tasa_rango.tasa_maximo))| number : '1.2-2'  }} soles</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 mb-3 offset-md-2" style="text-align: end;">
            <button type="button" class="btn btn-danger" (click)="btnCancelar_OnClick()">Cancelar</button>
        </div>
        <div class="col-md-2 mb-3" style="text-align: end;">
            <button type="button" class="btn btn-primary-custom" (click)="btnAperturaCuenta_OnClick()">Aperturar cuenta</button>
        </div>
    </div>    
</form>
{{objCuentaApertura | json}}