<form #form="ngForm" [formGroup]="authForm">
    <div class="position-absolute top-50 start-50 translate-middle rounded-top rounded-bottom" style="width: 400px; background-color: white;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 mb-3">
                    <h1 style="font-family: Travax; color: #2700a3;">Presta-Me</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="input-group mb-3 has-validation">
                    <span class="input-group-text" id="basic-addon1">✉️</span>
                    <input type="text" class="form-control" placeholder="Ingrese su correo" name="txtEmail" id="txtEmail"
                    formControlName="email">
                    <div class="error" *ngIf="authForm.get('email')?.hasError('required') && (authForm.get('email')?.dirty || authForm.get('email')?.touched || isSubmitted)">
                        Se requiere email o el ingresado es incorrecto
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">🔐</span>
                    <input type="password" class="form-control" placeholder="Ingrese su contraseña" name="password" 
                    formControlName="password">
                    <div class="error" *ngIf="authForm.get('password')?.hasError('required') && (authForm.get('password')?.dirty || authForm.get('password')?.touched || isSubmitted)">
                        Se requiere una contraseña
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <button class="btn btn-custom mb-3" type="button" (click)="btnIngresar_OnClick()" >Ingresar</button>
                </div>
            </div>
        </div>
    </div>
</form>